html{
	height: 100%
}
body{
	height:100%;
}
.wrapper{
	min-height:100%;
	height:auto!important;
	overflow:hidden;
}
.wrapper:after {
	content: "";
	height: 150px;
	display: block;
}
.page__footer{
	background: #6e489d;
	width:100%;
	height: 150px;
	margin: -150px auto 0px auto;
}
.footer__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
}
/*шапка*/

.header{
	width:100%;
	margin-bottom:20px;
    background-color:#ecf0f9;

}
.header__main{
	margin-bottom: 20px;
}
.header__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
}
.logo__box{
	margin-top:30px;
	float:left;
}
.header__information{
	margin-top:30px;
	float:right;
}
.header__navigation{

}
.header__connection-list{
	margin :0;
	padding: 0;
	list-style: none;
}
.header__list{
	list-style: none;
	margin:0;
	padding:0;
}
.header-list__item{
	position: relative;
	padding: 12px 20px;
	display: inline-block;
	background-color: #f7f7f7;
	font-size: 14px;
}
.header-list__link:before{
  border-left: 14px solid #F7F7F7;
  z-index: 5;
  margin-left: -1px;
    content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: all .3s linear;
}
.header-list__link:after{
	border-left: 14px solid #D9E0EB;
	z-index: 4;
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: all .3s linear;
}
.header-list__item:first-child:before{
  top: 0;
  border-left: 14px solid #ecf0f9;
  z-index: 5;
  margin-left: -1px;
  content: '';
  position: absolute;
  left: 0;
  border-top: 20px solid transparent;
}
.header-list__item:first-child:after{
  top: 0;
  border-left: 14px solid #ecf0f9;
  border-bottom: 20px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  border-top: 20px solid transparent;
}


.header-list__item:hover{
	cursor: pointer;
	background-color:#dce6f0;
}
.header-list__item_current{
	background-color: #00b6f9;
}

/*Конец шапки*/
/*Начало контента*/
.main__container{
	max-width:1000px;
	min-width:960px;
	margin:0 auto;
}
.bread__crumbs__box{
	float:left;
}
.bread__crumbs__list{
	margin:0;
	padding:0;
	list-style: none;
}
.bread__crums__item{
	display:inline-block;
}
.bread__crums__item:before{
	content:" > ";
}
.bread__crums__item:first-child:before{
	content:"";
}
.pages__selector__box{
	float:left;
}
.pages__list__box{
	float:right;
	margin-left:10px;
}
.pages__wrapper{
	float:right;
}
.pages__list__box{
}
.pages__list{
	list-style:none;
	margin:0;
	padding:0;
}
.pages__item{
	display:inline-block;
}
.navigation__block{
	margin-bottom: 10px;
}
/*Сайдбар*/
.sidebar{
	float:left;
}
.sidebar__list{
	margin:0;
	padding:0;
	list-style:none;
}
.sidebar__trigger{
	padding: 7px 115px 7px 10px;
	display:block;
	width: 100px;
	background:#f5f5f5;
	border:1px solid #ddd;
	text-decoration: none;
}
.sidebar__inner-item{
	background:#f5f5f5;
	padding: 7px 115px 7px 10px;
}
.sidebar__inner-link{
	margin:0;
	padding:0;
	text-decoration:none;
}
.sidebar__inner{
	list-style:square inside;
	display:none;
	margin:0;
	padding:0;
}
.sidebar__trigger-active{
	background: #00b9fe;
	color:white;
}

/*/сайдбар*/
/* основной контент*/
.main__content{
	float:right;
	max-width: 720px;
}
.list__goods{
	margin:0;
	padding:0;
	list-style: none;
}
.goods__item{
	border: 1px outset;
	margin-bottom: 10px;
}
.goods__item:hover{
	cursor:pointer;
	box-shadow: 0 0 5px rgba(0,0,0,1);
}
.img__box{
	float:left;
}
.description__box{
	float:right;
	width:500px;
}
/* /основной контент */
/*footer*/
.footer__logo{
	float:left;
}
.footer-list__block{
	margin-left:50px;
	float:left;
}
.footer__socials{
	float:right;
}
.about-shop__menu{
	float:left;
}
.footer__catalog{
	float:left;
}
.footer__contacts{
	float:left;
}
.footer__list{
	list-style: none;
}
.footer__link{
	color:white;
}
.footer__item-title{
	color:white;
}

/*/footer*/

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}