html{
	height: 100%
}
body{
	height:100%;
	font:normal 1em 'elektra_light_proregular';
}
.wrapper{
	min-height:100%;
	height:auto!important;
	overflow:hidden;
	min-width: 1020px;
}
.wrapper:after {
	content: "";
	height: 238px;
	display: block;
}
.page__footer{
	background: url(../img/footer_bg.png) #613993;
	width:100%;
	height: 238px;
	margin: -238px auto 0px auto;
}
.footer__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
}
/*шапка*/

.header{
	width:100%;
    background-color:#ecf0f9;

}
.header__main{
	margin-bottom: 12px;
}
.header__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.logo__box{
	margin-top: 26px;
	float:left;
}
.header__information{
	margin-top: 21px;
	float:right;
}

.connection__phone{
	margin-bottom: 1px;
}
.connection-phone__second{
	font-family: elektra_light_proregular,sans-serif;
  	color: #5C7B98;
	font-size:25px;

}
.nostylelink{
	text-decoration: none;
	color:#00B9FE;
	font-size:16px;
	vertical-align: top;
	font-family:elektra_light_probold;
}
.connection__mail-link{
	  color: #00B9FE;
	  font-size: 17px;
	  font-family: elektra_light_proregular,sans-serif;
}
.header__connection-list{
	font-family:"elektra_light_probold";
	margin :0;
	padding: 0;
	list-style: none;
}
.navigation{
	margin-bottom:18px;
}

.navigation .container{
	text-align:center;
}
.navigation__list{
	margin:0;
	padding:0;
	display:inline-block;
	list-style: none;
	vertical-align: top;

}
.navigation__item{
	float:left;
  margin-left: -13px;
}
.navigation__link{
	background:url(../img/nav-item.png) no-repeat;
	padding-left:14px;
	height: 42px;
	display:block;
}
.navigation__text{
	background:url(../img/nav-item.png) right 0 no-repeat;
	padding-right:16px;
	height:42px;
	text-align:center;
	line-height: 42px;
	display:block;
	color:#5c7b98;
	font-size: 15px;
}
.navigation__list:after,.navigation__list:before{
	content:"";display:table
}
.navigation__list:after{
	clear:both;
}
.navigation__item:first-child{
	margin-left:0;
}
.navigation__link:hover{
	background-position:0 -55px;
	cursor: pointer;
}
.navigation__link:hover .navigation__text{
	background-position:right -55px;
}
.content__options-select{text-align:left;margin-left:3px}
.content__options-select.opened .selectbox__display{border-bottom:0 none;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding-bottom:1px}
.content__options-select.opened .selectbox__display:hover{background:#edecec}
.content__options-select.opened .selectbox__dropdown{left:0;right:0;width:135px}
.content__options-select .selectbox__dropdown{position:absolute;top:100%;width:133px;right:auto;left:-9999px;background:#fff;border:1px solid #bdbdbd;border-top:0 none;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;z-index:1000}
.content__options-select .selectbox__inner{position:relative}
.content__options-select .selectbox__display{width:133px;border:1px solid #bdbdbd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background:#fff;zoom:1!ie;cursor:pointer;overflow:hidden;position:relative}
.content__options-select .selectbox__display:after,.content__options-select .selectbox__display:before{content:"";display:table}
.content__options-select .selectbox__display:after{clear:both}
.content__options-select .selectbox__display-title{float:left;width:102px}
.content__options-select .selectbox__title-text{line-height:27px;padding-left:11px;height:27px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.content__options-select .selectbox__display-btn{width:26px;float:left;height:27px;background:0 0;top:0;right:0;position:absolute}
.content__options-select .selectbox__btn-icon{width:26px;height:27px;background:url(../img/select_bg.png) center center no-repeat}
.content__options-select .selectbox__dropdown-item.selected .selectbox__item-link{background:#edecec}
.content__options-select .selectbox__item-link{font-size:12px;line-height:14px;color:#686868;padding-left:13px;padding-top:5px;padding-bottom:5px;cursor:pointer;display:block}
.content__options-select .selectbox__item-link:hover{background:#edecec}
.content__options-select .selectbox__title-text{font-size:14px;color:#5c7b98}
.content__options-select .selectbox__display-btn{background-color:#00b9fe}
.content__options-select .selected .selectbox__item-link{color:#bed1e3;background-color:transparent!important}
.content__options-select .selectbox__dropdown{max-height:120px;overflow:auto}
.content__options-select .selectbox__dropdown-list{list-style: none;margin:0;padding:0;}
/*Конец шапки*/
/*Начало контента*/
.main__container{
	max-width:1000px;
	min-width:960px;
	margin:0 auto;
}
.bread__crumbs__box{
	float:left;
}
.bread__crumbs__list{
	margin:0;
	padding:0;
	list-style: none;
}
.bread__crums__item{
	color:#5c7b98;
}
.page__link{
	color:#33c7fe;
	font-size: 15px;
}
.page-list__link{
	color:#33c7fe;
	font-size: 15px;
	margin-left:4px;
}
.page__link_current{
	text-decoration: none;
	color:#5c7b98;
}
.bread__crums__item{
	display:inline-block;
}
.bread__crums__item:before{
	content:" > ";
}
.bread__crums__item:first-child:before{
	content:"";
}
.pages__selector__box{
	float:left;
}
.pages__list__box{
	float:right;
	margin-left:23px;
}
.pages__wrapper{
	float:right;
}
.pages__list{
	list-style:none;
	margin:0;
	padding:0;
}
.pages__item{
	display:inline-block;
}
.navigation__block{
	margin-bottom: 17px;
}
/*Сайдбар*/
.sidebar{
	float:left;
}
.sidebar__list{
	margin:0;
	padding:0;
	list-style:none;
}
.sidebar__trigger{
	padding: 6px 115px 6px 15px;
	display:block;
	width: 100px;
	background:#f5f5f5;
	border:1px solid #ddd;
	color:#5c7b98;
	text-decoration: none;
	border-top: 1px solid #fff;
  	border-bottom: 1px solid #DAE1EB;
}
.sidebar__trigger:hover{
	cursor:pointer;
	background-color: #dce6f0;
}
.sidebar__inner-item{
	background:#f5f5f5;
	padding: 7px 115px 7px 10px;
	  border-top: 1px solid #fff;
  border-bottom: 1px solid #DAE1EB;
}
.sidebar__inner-item:hover{
	cursor:pointer;
	background-color: #dce6f0;
}

.sidebar__inner-link{
	margin:0;
  	padding: 6px 14px;
  	background: url(../img/tr-r.png) 3px 9px no-repeat;
	text-decoration:none;
	color:#5c7b98;
}
.sidebar__inner{
	list-style:none;
	display:none;
	margin:0;
	padding:0;
}
.sidebar__trigger-active{
	background: #00b9fe;
	color:white;
}

/*/сайдбар*/
/* основной контент*/
.main__content{
	float:right;
	max-width: 740px;
}
.list__goods{
  	margin: 0 0 80px 0;
  	padding:0;
	list-style: none;
}
.goods__item{
	border: 1px outset;
  	margin-bottom: 16px;
   	padding: 33px 0 15px 0;
 }

.goods__item:hover{
	cursor:pointer;
	box-shadow: 0 0 5px rgba(0,0,0,1);
}
.img__box{
	float:left;
}
.goods__img{
	margin: 0px 30px;
}
.description__box{
	float:right;
	width:535px;
}
.description__link{
	color:#00b9fe;
}
.description__text{
	padding-top:10px;
	color:#5c7b98;
}
.shop-description__title{
	font-family:"elektra_light_probold";
	font-size:25px;
	color:#67849f;
}
.shop-description__text__wrapper{
	color:#728da6;

}
p{
	margin-bottom: 10px;
	  font-size: 15px;
}
/* /основной контент */
/*footer*/
.footer__logo{
	float:left;
	margin-top:100px; 
}
.footer__logo-img{
	vertical-align: center;
}
.footer-list__block{
	margin-left:105px;
	float:left;
	margin-top: 55px;
}
.footer__socials{
	margin-top:70px;
	float:right;
}
.appstore__wrapper{
	float:left;
}
.google-play__wrapper{
	margin-left:5px;
	float:left;
}
.upper-button{
  display: none;
  background: #00B9FE;
  position: fixed;
  right: 50px;
  bottom: 250px;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.upper-button:before{
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  left: 50%;
  margin-left: -3px;
  top: -4px;
  border-bottom-color: #00B9FE;
}
.upper-button:after{
  bottom: 0;
  border-bottom-color: #fff;
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  left: 50%;
  margin-left: -3px;
}
.other-socials__wrapper{
}
.first-row__sosials{
	margin-bottom:26px;
}
.footer-menu__block{
	float:left;
 	 margin-left: 70px;
 }
.footer__catalog{
	float:left;
}
.footer__contacts{
	float:left;
}
.footer__list{
	list-style: none;
	margin:0;
	padding:0;
}
.footer__link{
	color:white;
	font-size: 15px;
	margin-bottom: 5px;
}
.footer__item-title{
	font-family: elektra_light_probold;
	color:white;
	font-size: 15px;
	  line-height: 17px;
  margin-bottom: 5px;
}

/*/footer*/

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}