html{
	height: 100%
}
body{
	height:100%;
	font:normal 1em 'elektra_light_proregular';
}
.wrapper{
	min-height:100%;
	height:auto!important;
	overflow:hidden;
}
.wrapper:after {
	content: "";
	height: 238px;
	display: block;
}
.page__footer{
	background: url(../img/footer_bg.png) #613993;
	width:100%;
	height: 238px;
	margin: -238px auto 0px auto;
}
.footer__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
}
/*шапка*/

.header{
	width:100%;
	margin-bottom:20px;
    background-color:#ecf0f9;

}
.header__main{
	margin-bottom: 12px;
}
.header__container{
  min-width: 960px;
  max-width: 1000px;
  margin: 0 auto;
}
.logo__box{
	margin-top: 26px;
	float:left;
}
.header__information{
	margin-top: 21px;
	float:right;
}

.connection__phone{
	margin-bottom: 1px;
}
.connection-phone__second{
	font-family: elektra_light_proregular,sans-serif;
  	color: #5C7B98;
	font-size:25px;

}
.nostylelink{
	text-decoration: none;
	color:#00B9FE;
	font-size:16px;
	vertical-align: top;
	font-family:elektra_light_probold;
}
.connection__mail-link{
	  color: #00B9FE;
	  font-size: 17px;
	  font-family: elektra_light_proregular,sans-serif;
}
.header__navigation{

}
.header__connection-list{
	font-family:"elektra_light_probold";
	margin :0;
	padding: 0;
	list-style: none;
}
.header__list{
	list-style: none;
	margin:0;
	padding:0;
  font-size: 0;
}
.header-list__item{
	position: relative;

	padding: 11px 13px 10px 23px;
	display: inline-block;
	background-color: #f7f7f7;
	font-size: 14px;
}
.header-list__link{
	text-decoration:none;
	color:#5c7b98;
	font-size: 15px;
}
.header-list__link_current{
	color:#f7f7f7;
}

.header-list__link:before{
  border-left: 14px solid #F7F7F7;
  z-index: 5;
  margin-left: -1px;
    content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: all .3s linear;
}
.header-list__link:after{
	border-left: 14px solid #D9E0EB;
	z-index: 4;
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: all .3s linear;
}

.header-list__link_current:before{
  border-left: 14px solid #00b6f9;
  z-index: 5;
  margin-left: -1px;
    content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: all .3s linear;
}
.header-list__item:first-child:before{
  top: 0;
  border-left: 14px solid #ecf0f9;
  z-index: 5;
  margin-left: -1px;
  content: '';
  position: absolute;
  left: 0;
  border-top: 20px solid transparent;
}
.header-list__item:first-child:after{
  top: 0;
  border-left: 14px solid #ecf0f9;
  border-bottom: 20px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  border-top: 20px solid transparent;
}

.header-list__item:hover{
	cursor: pointer;
	background-color:#dce6f0;
}
.header-list__item_current{
	background-color: #00b6f9;
}

.header-list__item:hover .header-list__link:before{
  border-left: 14px solid #dce6f0;
  z-index: 5;
  margin-left: -1px;
   content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: all .3s linear;
}

/*Конец шапки*/
/*Начало контента*/
.main__container{
	max-width:1000px;
	min-width:960px;
	margin:0 auto;
}
.bread__crumbs__box{
	float:left;
}
.bread__crumbs__list{
	margin:0;
	padding:0;
	list-style: none;
}
.bread__crums__item{
	color:#5c7b98;
}
.page__link{
	color:#33c7fe;
	font-size: 15px;
}
.page-list__link{
	color:#33c7fe;
	font-size: 15px;
	margin-left:4px;
}
.page__link_current{
	text-decoration: none;
	color:#5c7b98;
}
.bread__crums__item{
	display:inline-block;
}
.bread__crums__item:before{
	content:" > ";
}
.bread__crums__item:first-child:before{
	content:"";
}
.pages__selector__box{
	float:left;
}
.pages__list__box{
	float:right;
	margin-left:23px;
}
.pages__wrapper{
	float:right;
}
.pages__selector__select{
	padding-right: 55px;
	background: url(../img/select_bg.png) right no-repeat;
	-webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  color:#5c7b98;
}
.pages__list{
	list-style:none;
	margin:0;
	padding:0;
}
.pages__item{
	display:inline-block;
}
.navigation__block{
	margin-bottom: 17px;
}
/*Сайдбар*/
.sidebar{
	float:left;
}
.sidebar__list{
	margin:0;
	padding:0;
	list-style:none;
}
.sidebar__trigger{
	padding: 6px 115px 6px 15px;
	display:block;
	width: 100px;
	background:#f5f5f5;
	border:1px solid #ddd;
	color:#5c7b98;
	text-decoration: none;
	border-top: 1px solid #fff;
  	border-bottom: 1px solid #DAE1EB;
}
.sidebar__trigger:hover{
	cursor:pointer;
	background-color: #dce6f0;
}
.sidebar__inner-item{
	background:#f5f5f5;
	padding: 7px 115px 7px 10px;
	  border-top: 1px solid #fff;
  border-bottom: 1px solid #DAE1EB;
}
.sidebar__inner-item:hover{
	cursor:pointer;
	background-color: #dce6f0;
}

.sidebar__inner-link{
	margin:0;
	padding:0;
	text-decoration:none;
	color:#5c7b98;
}
.sidebar__inner{
	list-style:square inside;
	display:none;
	margin:0;
	padding:0;
}
.sidebar__trigger-active{
	background: #00b9fe;
	color:white;
}

/*/сайдбар*/
/* основной контент*/
.main__content{
	float:right;
	max-width: 740px;
}
.list__goods{
  	margin: 0 0 80px 0;
  	padding:0;
	list-style: none;
}
.goods__item{
	border: 1px outset;
  	margin-bottom: 16px;
   	padding: 33px 0 15px 0;
 }

.goods__item:hover{
	cursor:pointer;
	box-shadow: 0 0 5px rgba(0,0,0,1);
}
.img__box{
	float:left;
}
.goods__img{
	margin: 0px 30px;
}
.description__box{
	float:right;
	width:535px;
}
.description__link{
	color:#00b9fe;
}
.description__text{
	padding-top:10px;
	color:#5c7b98;
}
.shop-description__title{
	font-family:"elektra_light_probold";
	font-size:25px;
	color:#67849f;
}
.shop-description__text__wrapper{
	color:#728da6;

}
.shop-description__text{
	margin-bottom: 10px;
	  font-size: 15px;
}
/* /основной контент */
/*footer*/
.footer__logo{
	float:left;
	margin-top:100px; 
}
.footer__logo-img{
	vertical-align: center;
}
.footer-list__block{
	margin-left:90px;
	float:left;
	margin-top: 60px;
}
.footer__socials{
	margin-top:70px;
	float:right;
}
.appstore__wrapper{
	float:left;
}
.google-play__wrapper{
	margin-left:5px;
	float:left;
}
.upper-button{
  display: none;
  background: #00B9FE;
  position: fixed;
  right: 50px;
  bottom: 250px;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.upper-button:before{
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  left: 50%;
  margin-left: -3px;
  top: -4px;
  border-bottom-color: #00B9FE;
}
.upper-button:after{
  bottom: 0;
  border-bottom-color: #fff;
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  left: 50%;
  margin-left: -3px;
}
.other-socials__wrapper{
	margin-left:15px;
}
.first-row__sosials{
	margin-bottom:10px;
}
.about-shop__menu{
	float:left;
}
.footer__catalog{
	float:left;
}
.footer__contacts{
	float:left;
}
.footer__list{
	list-style: none;
}
.footer__link{
	color:white;
}
.footer__item-title{
	color:white;
}

/*/footer*/

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}